.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form>span {
  font-weight: bold;
  margin-top: 30px;
}

.validacion {
  text-align: center;
}

.container-search {
  padding: 20px;
  margin-bottom: 30px;
}

.container-search>input {
  margin-right: 10px;
  padding: 3px;
}

.container-content {
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.botones span {
  padding: 6px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  transition: all ease .2s;
}

.editForm {
  margin-left: 60px;
  margin-bottom: 20px;
}

.editForm>button {
  margin-left: 5px;
}


.botones :nth-child(1) {

  background-color: rgb(79, 151, 109);
}

.botones :nth-child(1):hover {
  background-color: rgb(43, 114, 72);
}


.botones :nth-child(2) {

  background-color: rgb(255, 65, 65);
}

.botones :nth-child(2):hover {
  background-color: rgb(204, 46, 46);
}

.validacion {
  color: rgb(160, 50, 50);
}

.editForm {
  display: block;
  width: 100%;

}